app-basic-invoice
{
    .refund-nav {
        background: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
    .add-notes {
        padding-left: 16px;
    }
    .order-info {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .order-info li {
        padding-left: 0px;
        text-align: center;
    }
    .md-content button
    {
        display: inline-block !important;
    }
    .md-close {
        margin-left: 4px !important;
    }
    .notes-table p {
    
        padding-bottom: 10px;
    
    }
    .order-info ul {
        min-width: 100% !important;
        width: 100% !important;
        display: inline-block !important;
        text-align: center !important;
    }
    .order-info li
    {
        min-width: 16.6% !important;
    }
    .shipping-address
    {
        position: relative;
       }
       .shipping-address .mobtn
       {
           position: absolute;
           right: 0;
           top:0;
       }
    
       
}