
<div class="row m-b-20">
  <div class="col-sm-12">
    <div  class="f-right">
      <button class="btn btn-primary btn-sm ripple light" type="button" (click)="pushToCreateSO()">Create New SO</button>               
    </div>
  </div>
</div>

<app-card [title]="" class="card-bg">    
  <app-iz-table [izTableData]="izTable" [columns]="columns" [rows]="rows" (listChange)="loadPage()" (doBulkAction)="doBulkAction()"></app-iz-table> 
</app-card>

<ng-template #roleTemplate let-value="value" ngx-datatable-cell-template>
  <strong>{{value}}</strong>
</ng-template>

<ng-template #priceTemplate let-value="value" ngx-datatable-cell-template>
    <strong>{{value|currency}}</strong>
  </ng-template>

  <ng-template #dateTemplate let-value="value" ngx-datatable-cell-template>
    <strong>{{value | date: 'MM/dd/yyyy, h:mm a'}}</strong>
  </ng-template>

<ng-template #actionTemplate let-value="value" ngx-datatable-cell-template>
  <button type="button" class="btn waves-effect waves-light btn-inverse btn-icon" (click)="view(value)"><i class="fa fa-eye"></i></button>
</ng-template>